@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --cor-primaria: #1E1E2E;
    --cor-secundaria: #F8F9FA;
    --cor-terciaria: #6C63FF;
    --cor-hover: #A89EFF;
    
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.cabecalho{
    padding: 8% 0 0 15%; 
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 24px;
    font-weight: 500;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: color 0.3s;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}

.apresentacao{
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    font-size: 1.5rem;
    width: 600px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo{
    font-size: 3.0rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.apresentacao__links__subtitulo {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
}

.apresentacao__links__link {
    display: flex;
    justify-content: center; 
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 380px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 18px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    transition: background 0.3s, color 0.3s;
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
